@import "tailwindcss";

@theme {
  --color-border: #E5E7EB;
  --color-accent: #2563EB;
  --color-text-primary: #111827;
  --color-text-muted: #6B7280;
}

body {
  background-color: #F9FAFB;
  color: #111827;
  font-family: var(--font-inter), sans-serif;
}

* {
  border-color: #E5E7EB;
}